body {
	margin: 0;
	padding: 0;
	background-color: #d8e8f6;
}

.title {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px;
	text-align: center;
	max-width: 390px;
	grid-column: span 2;
	margin-bottom: -20px;
	color: #fff;
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 130px);
}


.img1, .img2, .img3, .img4 {
	display: flex;
	height: 100px;
    width: 100px;
	margin-top: -30px;
}


.name {
	display: flex;
	margin-left: 140px;
	margin-top: -60px;
	color: #fff;
}
.name1 {
	display: flex;
	margin-left: 180px;
	margin-top: -60px;
	color: #fff;
}

.btn {
	background: #cad2e7;
    backface-visibility: hidden;
    border-radius: 25px;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: #d8e8f6;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .4s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
	height: 120px;
	width: 360px;
	padding: 10px 20px;
	margin-left: 15px;
	text-transform: uppercase;
}

.btn:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .btn:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .btn:focus {
    outline: 0 solid transparent;
  }
  
  .btn:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .btn:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .btn:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .btn:not(:disabled):active {
    transform: translateY(.125rem);
  }

  
.usercard {
	text-align: center;
}
